.result-nav-layout {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 60px;
  height: 60px;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.601);
  margin-bottom: 2vh;
  margin-right: 2vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
