.navBar-container {
  position: fixed;
  width: 100%;
  height: 12vh;
  bottom: 0;
  left: 0;
  display: flex;
  // justify-content: start;
  // align-items: end;
  border-top: 1px solid #e3e3e3;
  // background-color: red;
  background-color: white;
  z-index: 999;
}

.navBar-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-left: 18%;
  padding-right: 18%;
}

.navBar-iconWithText-container {
  width: 110px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  // background-color: red;
}

.navBar-iconWithText-container-text1 {
  font-size: 11px;
  font-weight: 800;
  color: #8bdd9c;
}

.navBar-iconWithText-container-text2 {
  font-size: 11px;
  font-weight: 800;
  color: #e3e3e3;
}

//글작성 관련 헤더
//----------------------------글작성-----------------------------
.writeNavBar-container {
  position: fixed;
  width: 100%;
  height: 17vh;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // background-color: aqua;
}

.writeNavBar-container-btn {
  width: 92%;
  height: 7vh;
  display: flex;
  // justify-content: start;
  // align-items: end;
  border-radius: 6px;
  background-color: #e0e0e0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
