.slider-container {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  background-color: blue;
  background: linear-gradient(to top, rgb(247, 247, 247) 50%, #8bdd9c 50%);
}

.slider {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-left: 4%;
}

.slide {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 7px;
  text-decoration: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-container-e1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.slider-container-layout {
  display: flex;
  justify-content: space-between;
  width: 76.5vw;
}

.slider-container-e1-t2 {
  font-size: 11px;
  color: grey;
}

.slider-container-e2 {
  // background-color: rgb(29, 193, 204);
  height: 72px;
}

.slider-container-e2 img {
  height: 72px;
}

.text-small {
  font-size: 13px;
}

.text-medium {
  font-size: 18px;
  display: flex;
}

.text-bold {
  font-weight: bold;
  margin-left: 5px;
}
