.slider-container {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  background-color: blue;
  background: linear-gradient(to top, rgb(247, 247, 247) 50%, #8bdd9c 50%);
}

.slider {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-left: 4%;
}

.slide {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;

  margin-right: 15px;
  // // background-color: #f0f0f0;
  // border: 1px solid rgba(136, 130, 255, 0.246);
  // border-radius: 999px;
  // text-align: center;
  // font-size: 16px;
}

.slider::-webkit-scrollbar {
  display: none;
}
