.calendar-main-container {
  display: flex;
  // background-color: red;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

/*포인트1*/
.highlight1 {
  position: relative;
}

.highlight1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10%; /* 원을 날짜 아래에 배치 */
  transform: translateX(-50%);
  width: 12px; /* 원의 크기 조절 */
  height: 12px; /* 원의 크기 조절 */
  border-radius: 50%;
  background-color: rgb(0, 255, 123); /* 원의 색상 조절 */
  z-index: 1;
}

/*포인트2*/
.highlight2 {
  position: relative;
}

.highlight2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10%; /* 원을 날짜 아래에 배치 */
  transform: translateX(-50%);
  width: 12px; /* 원의 크기 조절 */
  height: 12px; /* 원의 크기 조절 */
  border-radius: 50%;
  background-color: rgb(255, 225, 0); /* 원의 색상 조절 */
  z-index: 1;
}

/*포인트3*/
.highlight3 {
  position: relative;
}

.highlight3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10%; /* 원을 날짜 아래에 배치 */
  transform: translateX(-50%);
  width: 12px; /* 원의 크기 조절 */
  height: 12px; /* 원의 크기 조절 */
  border-radius: 50%;
  background-color: rgb(255, 0, 0); /* 원의 색상 조절 */
  z-index: 1;
}

.status-main-container {
  // background-color: rgb(255, 0, 0); /* 원의 색상 조절 */
  width: 100%;
  height: 6vh;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-main-container-element {
  background-color: white;
  box-shadow: 0 0 5px rgba(136, 130, 255, 0.246);
  border-radius: 6px;
  height: 100%;
  width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status1 {
  background-color: rgb(0, 255, 123);
  border-radius: 999px;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.status2 {
  background-color: rgb(255, 225, 0);
  border-radius: 999px;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.status3 {
  background-color: rgb(255, 0, 0);
  border-radius: 999px;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
