.react-calendar {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px #00000044;
  /* border: 1px solid rgb(215, 215, 215); */
  font-family: "Arial", sans-serif;
  width: 100%;
  /* height: 100%; */
}

/*숫자 크기*/
.react-calendar__tile {
  max-width: 100%;
  padding: 10px;
  /* background: #f3f3f3; */
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 15px;
}

.react-calendar__tile--active {
  background: #00bfff;
  color: white;
  /* border-radius: 5px; */
}

.react-calendar__tile--now {
  background: #e5e5e5;
  color: rgb(0, 0, 0);
  /* border-radius: 5px; */
}

/*제목*/
.react-calendar__navigation button {
  color: rgb(136, 130, 255);
  min-width: 44px;
  background: none;
  font-size: 1.2em;
  margin-top: 8px;
}

/*날짜 한글*/
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #555555;
}

/*주말*/

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
