.categorySlider-container {
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  // background-color: red;
  padding-left: 4%;
  padding-top: 3%;
}

.slide {
  display: inline-block;
  // padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-right: 10px;
  background-color: rgb(136, 130, 255);
  color: #ffffff;
  border-radius: 999px;
  text-align: center;
  font-size: 16px;
}

.slider::-webkit-scrollbar {
  display: none;
}
