.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
  //   background: yellow;
  //   background: linear-gradient(
  //     135deg,
  //     rgb(187, 238, 255),
  //     rgb(185, 236, 255),
  //     #a4e8ff
  //   ); /* 그라데이션 색상 */
}
