.splashScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splashContent {
  width: 150px;
  height: 150px;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  padding-left: 4%;
  padding-right: 4%;
  // background: yellow;
  //   background: linear-gradient(
  //     135deg,
  //     rgb(187, 238, 255),
  //     rgb(230, 248, 255),
  //     // #a4e8ff
  //   );
  //   background-color: #a2e8ff;
  padding-bottom: 16vh;
}
.main-banner-img {
  width: 100%;
  height: 35vh;
  margin-top: 3%;
}
