.result-container1 {
  padding-left: 4%;
  padding-right: 4%;
  word-wrap: break-word;
  white-space: normal;
  font-size: 15px;
}

.result-container2 {
  // background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.result-container3 {
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.result-container3 > div {
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 14px;
  background: #f1f1f1;
  color: rgb(28, 28, 28);
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  flex: 1 1 calc(25% - 10px);
  box-sizing: border-box;
  text-align: center;
}

.result-container4 {
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.result-container4 > div {
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;

  flex: 1 1 calc(25% - 10px);
  box-sizing: border-box;
  text-align: center;
}

.reference-item1 {
  background-color: rgb(255, 27, 27);
}

.reference-item2 {
  background-color: rgb(87, 218, 122);
}

.reference-item3 {
  background-color: rgb(60, 121, 253);
}

.link1 {
  text-decoration: none;
  color: white;
}

.link2 {
  text-decoration: none;
  color: white;
}

.link3 {
  text-decoration: none;
  color: white;
}

.details {
  border: 1px solid rgb(10, 197, 179);
  width: 92%;
  aspect-ratio: 2.5/1;
  border-radius: 8px;

  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.details-layout1 {
  // background-color: blue;
  width: 35%;
  aspect-ratio: 1/1;
  margin-left: 2%;
}

.details-layout2 {
  width: 59%;
  margin-left: 2%;
  // background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.details-layout2-element1 {
  font-size: 15px;
  word-wrap: break-word;
  white-space: normal;
}

.details-layout2-element2 {
  font-size: 12px;
  word-wrap: break-word;
  white-space: normal;
  color: grey;
}

.details-layout2-element3 {
  display: flex;
  // background-color: red;
  justify-content: space-between;
  margin-top: 1vh;
}

.review1 {
  // background-color: green;
  font-size: 11px;
  width: 47.5%;
  border-radius: 5px;
  // border: 1px solid rgb(202, 202, 202);
  background-color: #f4f4f4d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review1 div {
  // background-color: green;
  font-size: 11px;
  padding-left: 2%;
  padding-right: 2%;
}

.review1 div:first-child {
  font-size: 8px;
}

.review2 {
  font-size: 11px;
  width: 47.5%;
  border-radius: 5px;
  background-color: #f4f4f4d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review2 div {
  // background-color: green;
  font-size: 11px;

  padding-left: 2%;
  padding-right: 2%;
}

.review2 div:first-child {
  font-size: 8px;
}

.scroll-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  // background-color: green;
  padding-bottom: 1vh;
}

.scroll-content {
  display: flex;
  align-items: center;
  width: max-content;
}

.scroll-item {
  background: #ffffff;
  border-radius: 8px;
  flex: 0 0 auto;
  width: 150px;
  height: 70px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  margin-top: 10px;
  padding-left: 7px;
}

.scroll-item div {
  // background-color: blue;
  width: 80px;
  font-size: 12px;
  padding-left: 7px;
  word-wrap: break-word;
  white-space: normal;
}

.scroll-item.active {
  border: 1px solid rgb(10, 197, 179);
}

.scroll-item-dummy {
  background: none;
  flex: 0 0 auto;
  width: 180px;
  height: 70px;
  margin-top: 10px;
}
