.write-skinCareDiary-container {
  padding-left: 4%;
  padding-right: 4%;
}

.write-SkinCareDiary-checkBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.write-SkinCareDiary-checkBox label {
  display: flex;
  // background-color: red;
  height: fit-content;
}

.write-question-title {
  font-size: 15px;
  font-weight: bold;
  color: #242424;
}

.write-question-line {
  background-color: #ececec;
  height: 1px;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.write-SkinCareDiary-textArea {
  width: 98%;
  height: 10vh;
  outline: none;
  resize: none;
  border-radius: 4px;
  border: 1px solid #adadad;
}

.write-SkinCareDiary-photoBtn-container {
  background-color: rgb(136, 130, 255);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-SkinCareDiary-photoBtn {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 30vw;
  padding-right: 30vw;
  font-size: 13px;

  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.write-SkinCareDiary-photo-img {
  margin-top: 1vh;
  width: 100%;
}

.write-SkinCareDiary-input-container {
  display: flex;
  margin-top: 2%;
}

.write-SkinCareDiary-input-container input {
  height: 4vh;
  display: flex;
  outline: none;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  border: 1px solid #adadad;
  font-size: 11px;
}

.write-SkinCareDiary-sleep-container {
  //   background-color: red;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
}

.write-SkinCareDiary-sleep-container select {
  background-color: white;
  border: 1px solid #adadad;
  height: 4.5vh;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-size: 11px;
  padding-left: 2vh;
}
