/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//cozyquick 입니다.

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo1 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer1 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar1 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 13px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton1 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #71c4e2; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
}

.searchButton1:hover {
  background-color: #6cabe7; // Darker shade for hover effect
}

.detail1 {
  font-size: 12px;
  margin-top: 20px;
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  //   background-color: yellow;
  text-align: center;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//createvalue 입니다.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo2 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer2 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar2 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton2 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #e7a76b; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
}

.searchButton2:hover {
  background-color: rgb(223, 124, 49); // Darker shade for hover effect
}

.detail2 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//consultant 입니다.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo3 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer3 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar3 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton3 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #a7a7a7; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
  //   font-weight: 550;
}

.searchButton3:hover {
  background-color: rgb(109, 109, 109); // Darker shade for hover effect
}

.detail3 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//cooking station 입니다.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo4 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer4 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar4 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton4 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #e8adf9; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
  //   font-weight: 550;
}

.searchButton4:hover {
  background-color: #976ea2; // Darker shade for hover effect
}

.detail4 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

.searchBarContainer4 {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.form4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup4 {
  display: flex;
  flex-direction: column;
}

.input4 {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//curesliver입니다.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo5 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer5 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar5 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton5 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #d9c8b5; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
  //   font-weight: 550;
}

.searchButton5:hover {
  background-color: #b9a894; // Darker shade for hover effect
}

.detail5 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

.searchBarContainer5 {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.form5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup5 {
  display: flex;
  flex-direction: column;
}

.input5 {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//carrycabin.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo6 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer6 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar6 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton6 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #3371ab; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
  //   font-weight: 550;
}

.searchButton6:hover {
  background-color: #204363; // Darker shade for hover effect
}

.detail6 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

.searchBarContainer6 {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.form6 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup6 {
  display: flex;
  flex-direction: column;
}

.input6 {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//clearvisa.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo7 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer7 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar7 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton7 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #068840; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
  //   font-weight: 550;
}

.searchButton7:hover {
  background-color: #023b1c; // Darker shade for hover effect
}

.detail7 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

.searchBarContainer7 {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.form7 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup7 {
  display: flex;
  flex-direction: column;
}

.input7 {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//cozyhouse.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo8 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer8 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar8 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton8 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #5a5547; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
  //   font-weight: 550;
}

.searchButton8:hover {
  background-color: #3a372f; // Darker shade for hover effect
}

.detail8 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

.searchBarContainer8 {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.form8 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup8 {
  display: flex;
  flex-direction: column;
}

.input8 {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//createvalue.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo9 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer9 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar9 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton9 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #d99058; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
  //   font-weight: 550;
}

.searchButton9:hover {
  background-color: #845532; // Darker shade for hover effect
}

.detail9 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

.searchBarContainer9 {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.form9 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup9 {
  display: flex;
  flex-direction: column;
}

.input9 {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
//createeasy.
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.container10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full viewport height
}

.logo10 {
  width: 350px; // Adjust the width of the logo
  margin-bottom: 20px; // Space between logo and search bar
}

.searchBarContainer10 {
  display: flex;
  align-items: center;
  gap: 8px; // Adds some space between the input and button
}

.searchBar10 {
  flex: 1; // This allows the input to grow and fill available space
  height: 40px; // Match the button height
  padding: 0 10px; // Padding inside the input
  font-size: 11px; // Match font size if needed
  border: 1px solid #ccc; // Border for the input
  border-radius: 4px; // Rounded corners for the input
  min-width: 250px; // Ensure the input is long enough; adjust as needed
}

.searchButton10 {
  height: 40px; // Same height as the input
  padding: 0 10px; // Padding inside the button
  font-size: 16px; // Match font size if needed
  background-color: #cebeb2; // Button background color
  color: #fff; // Button text color
  border: none; // Remove default border
  border-radius: 4px; // Rounded corners for the button
  cursor: pointer; // Change cursor to pointer on hover
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; // Smooth color transition on hover
  //   font-weight: 550;
}

.searchButton10:hover {
  background-color: #9c8e83; // Darker shade for hover effect
}

.detail10 {
  font-size: 12px;
  margin-top: 20px;
  overflow-wrap: break-word; /* Modern standard */
  word-break: break-word; /* Ensures breaking within long words */
  width: 90vw;
  text-align: center;
}

.searchBarContainer10 {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.form10 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup10 {
  display: flex;
  flex-direction: column;
}

.input10 {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1rem;
}
